<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.0.3/milligram.min.css"/>
</head>
<body>
    <div class="container">
        <aside>
            <p>{{msg}}</p>
        </aside>
        
        <ul>
            {{#each movies}}
            <li>
                <a href="/movie/{{this.id}}">
                    {{this.name}} ({{this.language}})
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
</body>
</html>