<h1>Movies</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Language</th>
            <th>Lenght</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        {{#each movies}}
        <tr>
            <th scope="row">
                <a href="/movie/{{this.id}}">
                    {{this.name}}
                </a>
            </th>
            <td>
                {{this.language}}
            </td>
            <td>
                {{#if this.length}}
                    {{this.length}} min
                {{else}}
                    1-2 hours
                {{/if}}
            </td>
            <td>
                {{#if this.genres}}
                    {{this.genres}}
                {{else}}
                    Good.
                {{/if}}
            </td>
        </tr>
        {{/each}}
    <tbody>
</table>