<h1>{{series.name}}</h1>
Language: <h5>{{series.language}}</h5>
Creator: <h5>{{series.creator}}</h5>
Network: <h5>{{series.network}}</h5>
<table>
    <thead>
        <tr>
            <th>Episode Name</th>
            <th>Season</th>
            <th>Number</th>
            <th>Released</th>
        </tr>    
    </thead>
        <tbody>            
            {{#each episodes}}
                <tr>
                <td><a href="/show/{{this.id}}">{{this.name}}</a></td>
                <td>{{this.season}}</td>
                <td>{{this.number}}</td>
                <td>{{this.released}}</td>
                </tr>
            {{/each}}    
      <tbody>  
</table>