<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{series.name}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.0.3/milligram.min.css"/>
</head>
</head>
<body>
    <div class="container">
        <h1>{{series.name}}</h1>
        <ul>
            {{#each episodes}}
            <li>{{this.name}} S{{this.season}}E{{this.number}} {{this.released}}</li>
            {{/each}}
        </ul>
        
        
    </div>
</body>
</html>