<h1>{{series.name}}</h1>

<dl>
    <dt>Language</dt>
    <dd>{{series.language}}</dd>

    <dt>Creator</dt>
    <dd>{{series.creator}}</dd>

    <dt>Network</dt>
    <dd>{{series.network}}</dd>
</dl>

<table>
    <thead>
        <tr>
            <th>Episode Name</th>
            <th>Season</th>
            <th>Number</th>
            <th>Released</th>
        </tr>
    </thead>
        <tbody>
            {{#each episodes}}
                <tr>
                <td><a href="/show/{{series.id}}/{{this.season}}/{{this.id}}">{{this.name}}</a></td>
                <td>{{this.season}}</td>
                <td>{{this.number}}</td>
                <td>{{this.released}}</td>
                </tr>
            {{/each}}
      <tbody>
</table>