<h1>Shows</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Language</th>
            <th>Creator</th>
            <th>Network</th>
        </tr>    
    </thead>
         <tbody>            
            {{#each shows}}
                <tr>
                <td><a href="/show/{{this.id}}">{{this.name}}</a></td>
                <td>{{this.language}}</td>
                <td>{{this.creator}}</td>
                <td>{{this.network}}</td>
                </tr>
            {{/each}}    
      <tbody>  
</table>